:root {
  --teal: #96ceb4;
  --yellow: #ffeead;
  --red: #d9534f;
  --orange: #ffad60;
  --dark-teal: #5a9a87;
  --light-yellow: #fff7d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--dark-teal);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

header h1 {
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.search-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--teal);
  color: #fff;
  cursor: pointer;
}

nav {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.144);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background-color: var(--teal);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #006666;
}

#filter-add button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
  color: var(--teal);
  cursor: pointer;
  margin-left: 0.5rem;
}

#filter-add button:hover {
  background-color: #ccc;
}

nav input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--teal);
  border-radius: 0.25rem;
}

nav button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--orange);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: white;
}

nav button:hover {
  background-color: var(--red);
}

#contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  max-width: 1200px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  :hover {
    transform: scale(1.02);
  }
}

.recipe-card {
  border: 1px solid var(--teal);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.6rem;
  background-color: var(--light-yellow);
  width: calc(100% - 2rem);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media (min-width: 600px) {
  .recipe-card {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 900px) {
  .recipe-card {
    width: calc(33.333% - 2rem);
  }
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--orange);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: var(--red);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 100%;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--teal);
  border-radius: 0.25rem;
}

.close-btn {
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  align-self: flex-end;
}

#filter-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  overflow-y: auto;
}

#filter-menu h2 {
  margin-bottom: 1rem;
}

#filter-menu form {
  display: flex;
  flex-direction: column;
}

#filter-menu form select,
#filter-menu form button {
  margin-bottom: 1rem;
}

#filter-add {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
}

#single-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

#single-recipe h1 {
  font-size: 2rem;
}

.recipe-card-text {
  background: rgba(0, 0, 0, 0.171);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.recipe-name-text {
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}

.recipe-desc-text {
  margin: 0;
  font-size: 1em;
  color: #fff;
}
